# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries 
main
aggregation
association
composition
dependency
inheritance

# Visual Studio Code
.vscode

# Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/

# Executables
cpp-forward-declaration/example_cpp_forward_declaration
cpp-detached-logger/cpp-detached-logger

# cpp-di-container
cpp-di-container/cpp-di-container-sample

# cpp-mediator
cpp-mediator/mediator

# Valgrind ouput summary.
valgrind-out.txt

# cpp-detached-logger
cpp-detached-logger/*.txt
cpp-detached-logger/*.log
cpp-detached-logger/cpp-detached-logger

# cpp-IoC-and-DI
cpp-IoC-and-DI/source-code-with-IoC-and-DI
cpp-IoC-and-DI/source-code-with-IoC-and-DI-unit-tests
cpp-IoC-and-DI/source-code-without-IoC-and-DI